@model SolarEclipse.Models.VolunteerPosition;
<form method="post">
    Position: <input asp-for="Position" />
    Start Time: <input asp-for="TimeStart" />
    Positions Filled <input asp-for="PositionsFilled" />
</form>
