@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <figure class="col-sm-4">
        <img class="logos" src="~/lib/Assets/Images/hendrixLogo_bob.svg" alt="image test" height="100" />
    </figure>
    <figure class="col-sm-6" id="titlecard">
        <h1>Solar Eclipse Celebration</h1>
    </figure>
</div>
<section class="jumbotron" id="countdowntimer">
    <div class="container" id="countdowntext">
        <h1 class="display-4">Countdown To Totality</h1>
    </div>
    <div class="container" id="countdowntext">
        <!-- this code gotten from https://stackoverflow.com/questions/39858157/how-can-i-do-a-countdown-timer-with-html -->
        <div class="row" id="clockdiv">
            <div class="col-md-3">
                <span class="days" id="datenumbers"></span>
                <div class="text">Days</div>
            </div>
            <div class="col-md-3">
                <span class="hours" id="datenumbers"></span>
                <div class="text">Hours</div>
            </div>
            <div class="col-md-3">
                <span class="minutes" id="datenumbers"></span>
                <div class="text">Minutes</div>
            </div>
            <div class="col-md-3">
                <span class="seconds" id="datenumbers"></span>
                <div class="text">Seconds</div>
            </div>
        </div>
        <!-- end of code gotten from stackoverflow -->
    </div>
</section>

<hr />

<div class="row font-weight-bold">
    <p class="text-center">
        Welcome lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in ante nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus quis nisl neque. Quisque gravida tempor elit id commodo. Proin convallis libero nec massa rutrum, iaculis aliquam massa suscipit. Sed volutpat commodo magna, in laoreet leo rutrum scelerisque. Mauris molestie luctus quam, a pulvinar ante congue id. Sed a accumsan elit, eget sodales sapien. Nullam fermentum tincidunt eros quis venenatis.
    </p>
</div>

<hr />

<div class="row">
    <h1>
        Updates to the Music Schedule
    </h1>
</div>
<div class="row">
    <h2>
        Date: April 6th, 2024
    </h2>
</div>
<div class="row">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget est dapibus, malesuada est eu, hendrerit sem. Nam augue lorem, iaculis vel maximus vel, 
        fringilla id neque. Pellentesque congue convallis scelerisque. Maecenas nulla mi, porttitor id aliquam eget, luctus vitae odio. In nisl odio, vulputate congue leo a, 
        tempus vulputate turpis. Curabitur vitae turpis non lectus finibus suscipit. Vivamus non est a erat pharetra posuere quis in velit. Quisque hendrerit in dolor vitae placerat. 
        Phasellus sit amet massa consectetur, viverra mi et, gravida ex. Ut sed neque ultricies, congue nisl nec, ullamcorper est. Suspendisse at malesuada ipsum. 
        Vestibulum varius condimentum lacus nec vestibulum. Duis dictum bibendum sodales. Donec lectus diam, tempor ut commodo a, dignissim commodo orci. Sed cursus tincidunt orci molestie luctus. 
        Quisque fermentum maximus enim, feugiat finibus dolor.
    </p>
    <p>
        Sed lacus augue, viverra nec metus cursus, eleifend placerat quam. Nullam a lorem ligula. Donec eget est semper, blandit ligula id, accumsan nisl. Nullam nisi eros, 
        venenatis finibus enim sed, condimentum facilisis velit. Ut vestibulum neque a porttitor ornare. Duis sit amet posuere tortor. Nulla vel finibus eros, eu ornare lectus. 
        Morbi non orci sed ipsum consectetur vestibulum dapibus ut enim. Cras accumsan ex vel turpis porta posuere.
    </p>
    <p>
        Nullam est sapien, blandit sed sodales pharetra, fringilla quis sapien. Suspendisse commodo vehicula dignissim. Nunc tempor feugiat erat, ut finibus est pharetra in. 
        Phasellus ornare mi sodales, facilisis ex porttitor, semper ex. Vivamus vitae metus vitae felis rutrum lacinia id a augue. Curabitur consequat tristique sodales. 
        Maecenas ac purus nec felis varius commodo eget at elit. Sed lobortis vel est vitae vulputate. Nam lobortis ex vitae elit bibendum luctus.
    </p>
    <p>
        Phasellus commodo cursus diam, non posuere justo vulputate ut. In ornare dapibus laoreet. In sed lorem elementum, facilisis dui egestas, posuere mauris. 
        Nulla mollis mollis sem at cursus. Duis sit amet massa facilisis, lobortis dolor sed, semper ex. Donec ullamcorper tellus ut enim venenatis dignissim. 
        Ut finibus consectetur neque, quis tincidunt dui maximus vitae. Nulla mollis magna ipsum, sit amet tincidunt tellus vestibulum a. Curabitur malesuada dignissim tellus. 
        Curabitur cursus felis in turpis fermentum volutpat sed ut metus. Pellentesque vulputate, ipsum non hendrerit consectetur, ipsum libero viverra massa, sed scelerisque velit sem non eros. 
        Integer eget fermentum justo, a consequat est. Integer dignissim ligula vitae lectus blandit, at faucibus enim cursus. Sed tempus, nisl in eleifend rutrum, 
        libero tellus euismod tellus, nec ullamcorper urna ligula in nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
    </p>
    <p>
        Proin laoreet quam eget lorem vehicula, ac accumsan dolor egestas. Praesent iaculis massa id pellentesque auctor. Nunc est turpis, sollicitudin ut ligula sed, tempus lobortis sem. 
        Nullam ultrices mattis ligula. Nunc bibendum finibus purus, vitae egestas nulla viverra non. Maecenas vitae eleifend ipsum. Nulla ullamcorper rhoncus elit, 
        non pellentesque mi ultricies ut. Morbi a pretium nunc, quis cursus lectus. Praesent scelerisque tristique tortor, quis dignissim justo rutrum non. 
        Nullam enim nulla, lacinia sit amet molestie eget, pellentesque consectetur urna. Aliquam eleifend justo nunc, in luctus neque convallis a. Sed volutpat neque vitae lorem eleifend, 
        sed cursus justo semper. Nunc nulla orci, pulvinar vitae consequat vitae, ornare vitae velit. Suspendisse vestibulum augue eget mi maximus, et interdum nisi consequat. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse auctor mauris id condimentum interdum.
    </p>
</div>

<hr />

<div class="btn btn-primary">
    See Older Posts
</div>

<p>
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminLogin/login">Login</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/AdminInfo/Index">Admin Info Page</a>
</p>