@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="jumbotron">
    <div class="container">
        <div class="row">
            <!-- this code gotten from https://stackoverflow.com/questions/39858157/how-can-i-do-a-countdown-timer-with-html -->
            <h1 class="display-4">Countdown Clock</h1>
            <div id="clockdiv">
                <div>
                    <span class="days"></span>
                    <div class="text">Days</div>
                </div>
                <div>
                    <span class="hours"></span>
                    <div class="text">Hours</div>
                </div>
                <div>
                    <span class="minutes"></span>
                    <div class="text">Minutes</div>
                </div>
                <div>
                    <span class="seconds"></span>
                    <div class="text">Seconds</div>
                </div>
            </div>
            <!-- end of code gotten from stackoverflow -->
        </div>
    </div>
</section>