@page
@model SolarEclipse.Pages.EclipseInfo.IndexModel
@{
}

<h1>Eclipse Information</h1>
<div class="col">
    <div class="row">
        <a href="https://www.timeanddate.com/eclipse/in/usa/little-rock?iso=20240408"> Precise times of the eclipse</a>
    </div>
    <div class="row">
        <a href="https://www.nasa.gov/eclipse"> NASA eclipse page</a>
    </div>
    <div class="row">
        <a href="https://www.nasa.gov/content/eye-safety-during-a-total-solar-eclipse"> Safe viewing instructions</a>
    </div>
    <div class="row">
        <a href="https://nationaleclipse.com/maps.html"> Maps for totality</a>
    </div>
</div>