@page
@model SolarEclipse.Pages.EclipseInfo.IndexModel
@{
    ViewData["Title"] = "What is an Eclipse?";
}

<h1>What is an Eclipse?</h1>
<hr />
<div class="row">
    <figure class="col-sm-6">
        <p>
            Yes, a Solar Eclipse! A Solar Eclipse is when our Moon is directly between our Sun and Earth, causing the Moon to block the sun and
            cast a shadow onto Earth. This can only be seen from certain parts of the world and happens only occasionally but it is far rarer to occur
            in the same place twice. There are three kinds of Solar Eclipses: Total, Partial and Annular.
        </p>
        <p>
            A Total Solar Eclipse is when the sun is completely blocked by the moon, leaving only a sliver of light to be seen 
            by people directly under the moon. The moon must be in a direct line between the Earth and the sun.
        </p>
        <p>
            A Partial Solar Eclipse is when the moon does not directly line up between the Earth and the sun, so the moon is
            only partially blocking the light of the sun; as seen in 2017 across the USA.
        </p>
        <p>
            an Annular Solar Eclipse only occurs when the moon is at its farthest away from the Earth. 
            This will cause the sun to look like a large ring of light around the moon due to the moon being farther and being visually smaller
            than usual.
        </p>
    </figure>
    <figure class="col-sm-6">
        <img class="temporary" src="~/lib/Assets/Images/TotalSolarEclipse.jpg" alt="Totality Solar Eclipse image" />
        <h8>Credit: Wikimedia Commons</h8>
    </figure>
</div>
<div class="row">
    <figure class="col-sm-6">
        <img class="temporary" src="~/lib/Assets/Images/EclipseShadows.png" alt="Solar Eclipse Shadow Diagram" />
        <h8>Credit: Wikimedia Commons</h8>
    </figure>
    <figure class="col-sm-6">
        <p>
            The Moon will cast two shadows on Earth, the Umbra and the Penumbra.
        </p>
        <p>
            The Umbra is the dark center of the moon's shadow and will get smaller the closer it gets to Earth. 
            People who are within the Umbral Shadow will see a Total Solar Eclipse.
        </p>
        <p>
            The Penumbra is the rest of the moon's shadow and will get larger the closer it gets to Earth. 
            People under the Penumbral Shadow will only see a Partial Solar Eclipse.
        </p>
    </figure>
</div>
<div class="row">
    <figure class="col-sm-6">
        <p>
            <b>YOU MUST NEVER LOOK DIRECTLY AT A SOLAR ECLIPSE!</b> The Sun is no less than the Sun and its rays WILL damage your eyes 
            while directly looking at it. Wearing Protective glasses to cover your eyes is a must in order to look at a Solar Eclipse.  
        </p>
        <p>
            For a Total Solar Eclipse there is actually a short duration when the sun is completely blocked by the moon, 
            making it safe to view without protective glasses. This moment is only a few minutes long
            at most, so be sure to have your glasses ready to put back on.
        </p>
    </figure>
    <figure class="col-sm-6">
        <img class="temporary" src="~/lib/Assets/Images/SolarEclipseInfo1.jpg" alt="HDX 2017 Partial Eclipse image" />
    </figure>
</div>
<div class="row">
    <figure class="col-sm-6">
        <img class="temporary" src="~/lib/Assets/Images/TotalityMap.png" alt="Totality Map Image" />
        <h8>Credit: NationalEclipse.com</h8>
    </figure>
    <figure class="col-sm-6">
        <p>
            For the Solar Eclipse in 2024, Hendrix, along with the greater Central Arkansas area will witness a Total Solar Eclipse. This will occur
            exactly on Monday, April 8th, 2024.   
        </p>
        <p>The duration of the solar eclipse will last 2 hours and 38 minutes long from 12:33pm to 3:11pm.</p>
        <p>The Totality will last for only 2 minutes and 29 seconds with Maximum Totality occurring at 1:52pm.</p>
    </figure>
</div>
<div class="col">
    <p>For more information on Solar Eclipses as well as information about the specific Solar Eclipse in 2024 we are celebrating, visit the
    pages below:</p>
    <div class="row">
        <a href="https://www.timeanddate.com/eclipse/in/usa/little-rock?iso=20240408"> Time and Date of the Total Solar Eclipse</a>
    </div>
    <div class="row">
        <a href="https://www.nasa.gov/eclipse"> NASA Eclipse Information</a>
    </div>
    <div class="row">
        <a href="https://www.nasa.gov/content/eye-safety-during-a-total-solar-eclipse"> Safe Solar Eclipse Viewing Instructions</a>
    </div>
    <div class="row">
        <a href="https://nationaleclipse.com/maps.html"> Maps For Totality Across the USA</a>
    </div>
</div>