@page
@model SolarEclipse.Pages.EclipseInfo.IndexModel
@{
}

<h1>Eclipse Information</h1>
<div class="row">
    For precise times of the event. https://www.timeanddate.com/eclipse/in/usa/little-rock?iso=20240408
</div>

<div class="row">
    NASA eclipse page https://www.nasa.gov/eclipse
</div>
<div class="row">
    Safe viewing instructions https://www.nasa.gov/content/eye-safety-during-a-total-solar-eclipse
</div>
<div class="row">
    Maps for totality https://nationaleclipse.com/maps.html
</div>