@page
@model SolarEclipse.Pages.VolunteerPositions.EditModel

@{
    ViewData["Title"] = "Edit Position";
}

<h1>Edit</h1>

<h4>VolunteerPosition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VolunteerPosition.VolunteerPositionID" />
            <div class="form-group">
                <label asp-for="VolunteerPosition.Position" class="control-label"></label>
                <input asp-for="VolunteerPosition.Position" class="form-control" />
                <span asp-validation-for="VolunteerPosition.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerPosition.TimeStart" class="control-label"></label>
                <input asp-for="VolunteerPosition.TimeStart" class="form-control" />
                <span asp-validation-for="VolunteerPosition.TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerPosition.PositionsFilled" class="control-label"></label>
                <input asp-for="VolunteerPosition.PositionsFilled" class="form-control" />
                <span asp-validation-for="VolunteerPosition.PositionsFilled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
