@page
@model SolarEclipse.Pages.Information.IndexModel
@{
}

<h1>Information</h1>

<hr />
<div class="row">
    <figure class="col-sm-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec enim dolor. Aenean ut mattis elit.
            Nam pharetra magna turpis, iaculis mollis nulla bibendum at. Proin varius dolor nec tincidunt viverra.
            Pellentesque lobortis quis neque sit amet egestas. Etiam aliquet pulvinar eros, nec pharetra elit ullamcorper in.
            Ut eget lorem auctor nisi porttitor elementum hendrerit sed mi. Fusce id scelerisque odio. Vestibulum pulvinar laoreet lobortis.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas non nulla lacinia est imperdiet facilisis.
            Nam et placerat felis. Fusce neque turpis, pharetra in tortor et, feugiat pellentesque libero.
        </p>
    </figure>
    <figure class="col-sm-6">
        <img class="temporary" src="fake.jpg" alt="image test" />
    </figure>
</div>
<div class="row">
    <figure class="col-sm-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec enim dolor. Aenean ut mattis elit.
            Nam pharetra magna turpis, iaculis mollis nulla bibendum at. Proin varius dolor nec tincidunt viverra.
            Pellentesque lobortis quis neque sit amet egestas. Etiam aliquet pulvinar eros, nec pharetra elit ullamcorper in.
        </p>
    </figure>
</div>
<div class="row">
    <figure class="col-sm-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec enim dolor. Aenean ut mattis elit.
            Nam pharetra magna turpis, iaculis mollis nulla bibendum at. Proin varius dolor nec tincidunt viverra.
            Pellentesque lobortis quis neque sit amet egestas. Etiam aliquet pulvinar eros, nec pharetra elit ullamcorper in.
            Ut eget lorem auctor nisi porttitor elementum hendrerit sed mi. Fusce id scelerisque odio. Vestibulum pulvinar laoreet lobortis.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas non nulla lacinia est imperdiet facilisis.
            Nam et placerat felis. Fusce neque turpis, pharetra in tortor et, feugiat pellentesque libero.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec enim dolor. Aenean ut mattis elit.
            Nam pharetra magna turpis, iaculis mollis nulla bibendum at. Proin varius dolor nec tincidunt viverra.
            Pellentesque lobortis quis neque sit amet egestas. Etiam aliquet pulvinar eros, nec pharetra elit ullamcorper in.
        </p>
    </figure>
    <figure class="col-sm-6">
        <img class="temporary" src="fake.jpg" alt="image test" />
    </figure>
</div>