@page
@model SolarEclipse.Pages.Information.IndexModel
@{
    ViewData["Title"] = "Event Information";
}

<h1>Celebration Information</h1>

<hr />
<div class="row">
    <figure class="col-sm-6">
        <p>
            Organized by Hendrix College's very own Dr. Ann Wright, this event serves as a celebration of a Solar Eclipse completely
            blocking out the sun right above Hendrix! Come one come all! Hendrix Students, Staff, Alumni, Family, Friends and more are all
            to bare witness this one-in-a-lifetime event right on campus. Unlike the Partial Solar Eclipse of 2017 (displayed in the pictures),
            this Solar Eclipse will completely block the sun, leaving only a ring of light. 
        </p>
    </figure>
    <figure class="col-sm-6">
        <img class="temporary" src="~/lib/Assets/Images/InformationPage1.jpg" alt="image test" />
    </figure>
</div>
<div class="row">
    <figure class="col-sm-6">
        <p>
            The day of the Solar Eclipse and Celebration will be April 8th, 2024, so prepare your schedule and join us here at Hendrix!
            The Celebration will be held on Hendrix's footbal field to ensure allow space for all of our guests. There will be games, food,
            merchandise, and more available to make the Celebration fun and eventful! 
            Hendrix branded protective glasses will be available for purchase for your viewing pleasure!
        </p>
    </figure>
</div>
<div class="row">
    <figure class="col-sm-6">
        <p>
            This website was made in collaborative effort by Dr. Ann Wright and Database and Web System students to provide information about the celebration 
            and Solar Eclipse, allow students and staff to volunteer for positions during the celebration, buy HDX Solar Eclipse 2024 Merchandise, 
            and submit music that will be played during the celebration. Hendrix invites anyone and everyone to come and celebrate this momentous
            occuasion in the history of Hendrix, Conway, and the greater Central Arkansas history!
        </p>
    </figure>
    <figure class="col-sm-6">
        <img class="temporary" src="~/lib/Assets/Images/EventInformation2.jpg" alt="image test" />
    </figure>
</div>